*{
	box-sizing: border-box;
  font-family: Verdana, sans-serif;
}
h1{
	text-align: center;
	margin-bottom: 15px;
}
.container{
	background-color: silver;
	border: 2px solid black;
	padding-bottom: 10px;
	padding-left: 10px;
	margin: 10px;
	width: auto;
  	height: auto;
}
#p1{
	background-color: red;
	border: 1px solid black;
	text-align: center;
	height: 40px;
	width: 120px;
	float: right;
	padding: 5px;

}
#p2{
	background-color: pink;
	border: 1px solid black;
	text-align: center;
	height: 40px;
	width: 120px;
	float: right;
	padding: 5px;

}
#p3{
	background-color: orange;
	border: 1px solid black;
	text-align: center;
	height: 40px;
	width: 120px;
	float: right;
	padding: 5px;

}
p{  
	position: relative;
  	top: 20px;
}

/********** Large devices only **********/
 @media (min-width: 992px) {
 .col-lg-4 {
    float: left;
    border: 10px solid white;

  }
  .col-lg-4 {
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 767px) and (max-width: 991px) {
 .col-md-6,.col-md-12 {
    float: left;
    border: 10px solid white;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}